.navbar-nav .nav-items a {
	color:white;
}
.navbar-nav .nav-items a:hover {
	color: #c6c8ca;
}
header nav { background: rgba(0,0,0,0.5); }
body {background:
 url('capa.png'),
 url('ruido.png'),
 linear-gradient(50deg,#FB5490 ,#A544EB);
 background-attachment: fixed;
}
html, body, #caixa{
	height: 100%;
	border: 0px solid blue;
	margin: 0;
}
#caixa {text-align: center;
color:white;}
#caixa1 {background: white; padding: 20px 0px}
section div .link a:hover {background: rgba(255,255,255,0.5);
}
#caixa2 { color:white; }
#conteudos h1, #conteudos h3 { font-weight: bold;
	color:#B4045F;}
	.divisor {width: 0.5px; margin: 12px 15px;
	background: white;}
#caixa2 h1 { font-weight: bold;
color: white; }
#caixa2 h2 { color:#4FB8E2; font-weight: bold; }
footer {background: black; 
	padding: 50px 0px; position: relative;
	}

 .rotação {transform: rotate(30deg); padding-left: 80px;}

footer ul {list-style-type: none;}
footer ul li { float: right;
margin-right: 10px; }
/*MEDIA QUERIES*/
@media (max-width: 576px) {
	section .container .row a { font-size:22px; margin-bottom: 20px;}
	#conteudos h1 {font-size: 70px; padding-bottom: 40px;}
	#conteudos h3 { font-size: 50px; }
	#conteudos p { font-size: 20px; }
	#caixa2 .row p {font-size: 20px;}
}
.carousel-control-prev, .carousel-control-next { opacity: 1; }
